<h1 class="display 4">Welcome Article Base</h1>
<p class="mb-4">Sails Crud App for articles</p>

<a href="/articles/list" class="btn btn-light">View Articles</a>
<a href="/articles/add" class="btn btn-light">Add New Articles</a>